.indulgeInA {
    margin: 0;
}
.indulgeInAContainer {
    position: absolute;
    top: 1.31rem;
    left: 0;
    display: inline-block;
    width: 33.56rem;
}
.heroSection,
.image2Icon {
    position: absolute;
    height: 21.88rem;
}
.image2Icon {
    top: 0;
    left: 36.63rem;
    width: 21.88rem;
    object-fit: cover;
}
.heroSection {
    top: 12.25rem;
    left: 1.13rem;
    width: 58.5rem;
}
.bakerysStoreChild {
    position: absolute;
    top: 46.75rem;
    left: 23.88rem;
    width: 14.38rem;
    height: 14.63rem;
    object-fit: cover;
}
.bakerysStoreItem {
    top: 46.75rem;
    left: 41.88rem;
}
.bakerysStoreItem,
.groupChild,
.groupInner,
.groupItem,
.rectangleIcon {
    position: absolute;
    width: 14.38rem;
    height: 14.63rem;
    object-fit: cover;
}
.groupChild {
    top: 0;
    left: 0;
}
.groupInner,
.groupItem,
.rectangleIcon {
    top: 24.5rem;
}
.groupItem {
    left: 0;
}
.groupInner,
.rectangleIcon {
    left: 18rem;
}
.rectangleIcon {
    left: 36rem;
}
.rectangleParent {
    position: absolute;
    top: 46.75rem;
    left: 5.88rem;
    width: 50.38rem;
    height: 39.13rem;
}
.ourOfferings {
    position: absolute;
    top: 40.25rem;
    left: 2.38rem;
    font-size: var(--font-size-9xl);
}
.barfiRs900Container {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 10.25rem;
}
.rectangleDiv {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    width: 10.88rem;
    height: 2.94rem;
}
.orderNow {
    position: absolute;
    top: 0.75rem;
    left: 2.19rem;
}
.rectangleGroup {
    position: absolute;
    top: 4.94rem;
    left: 0;
    width: 10.88rem;
    height: 2.94rem;
    font-size: var(--font-size-xl);
    color: var(--color-black);
}
.barfiRs900Parent {
    position: absolute;
    top: 60.25rem;
    left: 8.06rem;
    width: 10.88rem;
    height: 7.88rem;
    font-size: var(--font-size-9xl);
}
.barfiRs900Group,
.barfiRs900Parent1,
.barfiRs900Parent2,
.barfiRs900Parent3,
.groupDiv {
    position: absolute;
    top: 60.88rem;
    left: 27.38rem;
    width: 10.88rem;
    height: 7.88rem;
    font-size: var(--font-size-9xl);
}
.barfiRs900Parent1,
.barfiRs900Parent2,
.barfiRs900Parent3,
.groupDiv {
    top: 61.5rem;
    left: 46.69rem;
}
.barfiRs900Parent1,
.barfiRs900Parent2,
.barfiRs900Parent3 {
    top: 85.88rem;
    left: 8.38rem;
}
.barfiRs900Parent2,
.barfiRs900Parent3 {
    top: 86.88rem;
    left: 27.06rem;
}
.barfiRs900Parent3 {
    left: 45.06rem;
}
.groupChild6 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c1c3c0;
    width: 64.25rem;
    height: 58.44rem;
}
.image3Icon {
    position: absolute;
    top: 2.27rem;
    left: 32.75rem;
    width: 25.13rem;
    height: 18.51rem;
    object-fit: cover;
}
.aboutUs,
.atOurBakeryContainer {
    position: absolute;
    display: inline-block;
}
.atOurBakeryContainer {
    top: 13.24rem;
    left: 0;
    width: 58.38rem;
    height: 26.74rem;
}
.aboutUs {
    top: 0;
    left: 2.75rem;
    font-size: var(--font-size-21xl);
    width: 15.69rem;
    height: 2.69rem;
}
.atOurBakeryBakingIsntJuParent {
    position: absolute;
    top: 9.18rem;
    left: 3.56rem;
    width: 58.38rem;
    height: 39.98rem;
}
.bakerysStoreInner,
.rectangleParent5 {
    position: absolute;
    left: 0;
    width: 64.25rem;
}
.rectangleParent5 {
    top: 99.06rem;
    height: 58.44rem;
    color: var(--color-black);
}
.bakerysStoreInner {
    top: 157.5rem;
    background-color: var(--color-white);
    height: 40.69rem;
}
.bakerysStoreChild1 {
    position: absolute;
    top: 193.44rem;
    left: 43.5rem;
    border-radius: var(--br-3xs);
    background-color: green;
    width: 12.69rem;
    height: 3.5rem;
}
.contactUs {
    position: absolute;
    top: 159.44rem;
    left: 2.75rem;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
}
.bakerysStoreChild2 {
    position: absolute;
    top: 166rem;
    left: 3.56rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 20.25rem;
    height: 4.06rem;
}
.fullName {
    position: absolute;
    top: 167.31rem;
    left: 6rem;
    color: var(--color-gray);
}
.bakerysStoreChild3 {
    position: absolute;
    top: 166rem;
    left: 35.94rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 20.25rem;
    height: 4.06rem;
}
.phone {
    position: absolute;
    top: 167.31rem;
    left: 37.5rem;
    color: var(--color-gray);
}
.bakerysStoreChild4 {
    position: absolute;
    top: 173.63rem;
    left: 3.56rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 20.25rem;
    height: 4.06rem;
}
.address {
    position: absolute;
    top: 174.94rem;
    left: 6rem;
    color: var(--color-gray);
}
.bakerysStoreChild5 {
    position: absolute;
    top: 180.69rem;
    left: 3.56rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 52.63rem;
    height: 10.5rem;
}
.description {
    position: absolute;
    top: 182.06rem;
    left: 6.25rem;
    display: inline-block;
    color: var(--color-gray);
    width: 16.06rem;
}
.bakerysStoreChild6 {
    position: absolute;
    top: 173.63rem;
    left: 35.94rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 20.25rem;
    height: 4.06rem;
}
.email,
.submit {
    position: absolute;
}
.email {
    top: 174.94rem;
    left: 37.5rem;
    color: var(--color-gray);
}
.submit {
    top: 194.44rem;
    left: 47.69rem;
}
.bakerysStoreChild7 {
    position: absolute;
    top: 198.19rem;
    left: 0;
    background-color: var(--color-black);
    width: 64.25rem;
    height: 7.5rem;
}
.allRightsAre {
    position: absolute;
    top: 201.19rem;
    left: 21.63rem;
}
.groupChild7 {
    background-color: var(--color-white);
    width: 64.25rem;
    height: 8.5rem;
}
.groupChild7,
.home {
    position: absolute;
    top: 0;
    left: 0;
}
.aboutUs1,
.contact,
.menu {
    position: absolute;
    top: 0;
    left: 5.94rem;
}
.aboutUs1,
.contact {
    left: 11rem;
}
.contact {
    left: 18.94rem;
}
.homeParent {
    position: absolute;
    top: 3.5rem;
    left: 30.25rem;
    width: 23.69rem;
    height: 1.5rem;
}
.groupParent,
.image1Icon {
    position: absolute;
    top: 0;
    height: 7.75rem;
}
.image1Icon {
    left: 0;
    width: 6.38rem;
    object-fit: cover;
}
.groupParent {
    left: 4.44rem;
    width: 53.94rem;
}
.rectangleParent6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 64.25rem;
    height: 8.5rem;
    color: var(--color-black);
}
.bakerysStore {
    position: relative;
    background-color: #464343;
    width: 100%;
    height: 205.69rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-inter);
}
